<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title pokemon-details__title" id="modal-basic-title">{{ pokemonDetails.name }}<span class="type">(Type: {{ getType() }})</span></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="pokemon-details__image" [ngStyle]="{ 'background-image': 'url(' + pokemonDetails.sprites.other.dream_world.front_default + ')'}"></div>
    <div class="pokemon-details__other">
      <div class="stat"><strong>ID:</strong> {{ pokemonDetails.id }}</div>
      <div class="stat" *ngFor="let stat of pokemonDetails.stats"><strong>{{ stat.stat.name }}:</strong> {{ stat.base_stat }}</div>
      <div class="stat"><strong>Weight:</strong> {{ pokemonDetails.weight }}</div>
      <div class="stat"><strong>Height:</strong> {{ pokemonDetails.height }}</div>
      <div class="stat"><strong>Base Experience:</strong> {{ pokemonDetails.base_experience }}</div>
    </div>
  </div>
</ng-template>